.NewsHeading {
    text-align: center;
    color: brown;
    border-bottom: 2px dotted teal;
    padding-bottom: 15px;
}

.NewsCard {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.LinksCard {
    width: auto;
    margin: 0.8rem;
    border-radius: 8px;
    box-shadow: 2px 3px 4px #ccc;
    padding: 0.5rem;
    box-sizing: border-box;
    
}
.Link {
    text-decoration: none;
    padding-left: 20px;
}
.Link:hover {
    color: teal;
    text-decoration: underline;
}
.LinkHeading {
    color: sandybrown;
    font-style: italic;
    text-align: center;
}
@media (max-width : 768px ) {
    .HelpfulLinkCard iframe{
        display: none;
    }
    .NewsCard {
       flex-direction: column;
       align-items: center;
    }
}
