.NavigationItem {
    margin: 0;
    box-sizing: border-box;
    display: flex;
    height: 100%;
    width: auto;
    align-items: center;
    

}

.NavigationItem a {
    text-decoration: none;
    display: block;
    height: 100%;
    text-align: left;
    font: Medium 14px/18px Montserrat;
    letter-spacing: 0px;
    color: #52586A;
    text-transform: uppercase;
    opacity: 1;
    padding: 1.2rem 1rem;

}

.NavigationItem a:active,
.NavigationItem a:hover,
.NavigationItem a.active {
    border-bottom: 2px solid red;
    color: #FF0019;
}

