.Button {
    display: inline-block;
    width: 86px;
    height: 30px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    margin-left: 4px;
    margin-right: 4px;
    outline: none;
}

.Light {
    color: #30313A;
    background: #F5F5F5 0% 0% no-repeat padding-box;
    font: Medium 12px/15px Montserrat;
}
.Dark {
    background: #52586A 0% 0% no-repeat padding-box;
    color: #FFFFFF;
}

.Button:active,
.Button:hover,
.Button.active{
    background: #52586A 0% 0% no-repeat padding-box;
    color: #FFFFFF;
}