.SearchIcon {
    padding-left: 20px;
}
.Search {
    position: relative;
}
.Search input[type="text"] {
        width: 100%;
        border: 1.5px solid #ccc;
        border-radius: 1.2rem;
        margin: 8px 0;
        outline: none;
        padding: 8px;
        box-sizing: border-box;
        transition: 0.3s;
        padding-left: 40px;
}

.Search input[type="text"]:focus {
    border-color: dodgerBlue;
    box-shadow: 0 0 8px 0 dodgerBlue;
}

.Search img {
    position: absolute;
    left: 0;
    top: 5px;
    padding: 9px 8px;
    color: #aaa;
    transition: 0.3s;
}

.CountryDetailCard {
    width: 350px;
    height: 412px;
    overflow-y: scroll;
    border-radius: 5px;
}
.CountriesList {
    margin-top: 5px;
}

@media (max-width : 768px) {
    .CountryDetailCard {
        width: 97%;
        margin-top: 10px;
        margin-right: 10px;
    }
}